@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap')

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.navbar-brand img {
    width: 70px;
    height: 30px;
    margin-right: 0;
    padding-right:0 ;
}

.link-dark {
    /* display: block; */
    font-weight: 500;
    padding-right: 5px;
    padding-left: 0;
}

.navbar-toggler-icon {
    width: 20px;
    height: 20px;
}

.nav-link {
    font-size: 1em !important;
    text-align: center;
    margin: 1%;
}

.whatsapp_icon {
    font-size: 1.1em !important;
    text-align: center;
    display: block;
    padding-left: 1%;
    color:forestgreen; 
    padding-right: 10px
}

.telegram_icon {
    color:rgb(45, 102, 188); 
    padding-right: 10px;

}

.navbar-toggler-icon {
    height: 20px;
    width: 20px;
}



.menu-button {
    display: block;
    margin-top: 5px !important;
    margin: 0 auto;
}

.carousel-inner {
    width: 100% ;
    height: 600px;
    background-image: url('../img/DL/1_back.jpg');
    background-size: auto;
}

.slider_img {
    height: 360px;
    width: 290px;
    object-fit: cover;  
    position: absolute;
    border-color: red;
    border-radius: 7%;
    left: 50%;
    transform: translate(-50%, 40%);
}

.carousel-caption {
    padding-top: 5px;
    text-shadow: 1px 1px 10px #000;
    position: static;
    transform: translate(0%, 380px);
    width: 290px;
    height: 180px;
    display: block;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
    
}

/* .first_slide {
    transform: translate(0%, 277px) !important;
} */

/* .second_slide {
    transform: translate(0%, 170px) !important;
} */

.carousel-caption h5 {
    margin-bottom: 20px;
}

.carousel-control-prev-icon {
    height: 25px;
    width: 25px;   
}

.carousel-control-next-icon {
    height: 25px;
    width: 25px;
}

.carousel-control-prev {
    width: 7%
}

.carousel-control-next {
    width: 7%
}

.cards {
    max-width: 95%;
    padding-bottom: 2%;
}

.service {
    margin-top: -380px;
    padding-top: 400px;
    text-align: center; 
    padding-bottom: 15px;
}

.company {
    background: linear-gradient(rgba(255, 255, 0, 0.1), rgba(255, 4, 4, 0.1));
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 1.1rem;
    border-radius: 20px;
    text-align: center;
}

.adress_title {
    font-size: 0.8rem;
    font-weight: 600;
}

.adress_text {
    font-size: 0.8rem;
    font-weight: 300;
}

.text_service {
    text-align: center;
    padding-top: 10px;
}

.last_adress{
    display: block;
    margin: 10px auto;
}

.service_items {
    margin-left: 10px;
    margin-right: 10px;
}

.adress_card{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    
    /* border-radius: 50px;
    padding: 10px; */
}

.card {

    background-image: url('../img/DL/1_back.jpg');
    background-size: auto;

}

.address_title {
    margin-top: -400px;
    padding-top: 400px;
    text-align: center; 
    padding-bottom: 15px;
}

.company_title {
    margin-top: -370px;
    padding-top: 400px;
    text-align: center; 
    padding-bottom: 15px;
}

.btn-danger{
    border-radius: 17px;
    background: -moz-linear-gradient(-45deg, #e81216 0%, #f45355 50%, #f6290c 51%, #ed0e11 71%, #fc1b21 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #e81216 0%,#f45355 50%,#f6290c 51%,#ed0e11 71%,#fc1b21 100%);
    /* Chrome10-25,Safari5.1-6 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e81216', endColorstr='#fc1b21',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
   }

   @-webkit-keyframes AnimationName {
    0%{
    background-position:0% 31%
    }
    50%{
    background-position:100% 70%
    }
    100%{
    background-position:0% 31%
    }
   }
    @-moz-keyframes AnimationName {
    0%{
    background-position:0% 31%
    }
    50%{
    background-position:100% 70%
    }
    100%{
    background-position:0% 31%
    }
   }
    @keyframes AnimationName {
    0%{
    background-position:0% 31%
    }
    50%{
    background-position:100% 70%
    }
    100%{
    background-position:0% 31%
    }
   }
    .btn-outline-light:hover{
    color: #3f345f;
   }
    .btn-outline-warning:hover{
    color: #ffffff;
   }
    .btn-sm {
    font-size: 12px;
    padding: 11px 25px;
   }
    .elements-page-btn .btn {
    margin: 6px 3px;
   }

   .first_slide_comp {
    display: none;
   }

   .first_slide_mobile {
    display: block;
    max-width: 90%;
    transform: translate(-50%, 3%);
    
   }