@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap')

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.navbar-brand img {
    width: 160px;
    height: 50px;
    padding-left: 10px;
}

.navbar-brand tel {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0;
    margin-right: 0;
}

.nabar-nav li {
    padding-right: 10px;
}

.nav-link {
    font-size: 1.1em !important;
    text-align: center;

}
/* .navbar-toggler {
    height: 30px;
    width: 30px;
} */
.navbar-toggler-icon {
    height: 20px;
    width: 20px;
    padding: 0;
}



.menu-button {
    margin:0 auto;
    display: block;
    margin-top: 5px !important;
}

.carousel-inner {
    width: 100% ;
    height: 500px;
    background-color: yellow;
}

/* .carousel-indicators {
    filter: invert(40%)
} */

.carousel-inner img {
    max-width: 80%;
    max-height: 80%;
    /* height: auto;  */
    /* height: 100%; */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
}

.carousel-caption {
    color: black;
    top: 25%;
    text-shadow: 1px 1px 10px #000;
    position: relative;
    left: 0;
    margin-right: 15%;
    background-color: aliceblue;


}

.carousel-caption h5 {
    margin-bottom: 20px;
}
.split {
    height: 600px;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden
}

.left {
    left: 0;
}
  
.right {
    right: 0;
}

.carousel-control-prev-icon {
    border-radius: 90%;
    background-color: black;
    height: 30px;
    width: 30px;
    
}

.carousel-control-next-icon {
    border-radius: 90%;
    background-color: black;
    height: 30px;
    width: 30px;
}

.carousel-control-prev {
    width: 5%
}

.carousel-control-next {
    width: 5%
}